<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>fi.tvtools.finalstore</string>
        <key>ProgramArguments</key>
        <array>
          <string>/Library/Application Support/TV Tools/FinalStore/finalstore.py</string>
        </array>
        <key>StartInterval</key>
        <integer>20</integer>
        <key>AbandonProcessGroup</key>
        <true/>
</dict>
</plist>
